.rs-about {
	// .rs-about__container
	&__container {
	}

	// .rs-about__wrapper
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;

		@media (max-width: 1439.98px) {
			gap: 24px;
		}

		@media (max-width: 1169.98px) {
			gap: 16px;
		}
	}

	// .rs-about__item
	&__item {
		flex: 1 1 calc(50% - 15px);
		display: flex;
		flex-direction: column;

		@media (max-width: 991.98px) {
			flex: 1 1 100%;
		}

		& > * {
			&:first-child {
				margin-top: 0px !important;
			}

			&:last-child {
				margin-bottom: 0px !important;
			}
		}

		p,
		ul {
			margin: 4.2px 0px;
			font-weight: 400;
			font-size: 16px;
			line-height: 145%;
			letter-spacing: 0.03em;

			@media (max-width: 1439.98px) {
				font-size: 14px;
				margin: 3.5px;
			}
		}

		ul {
			li {
				padding-left: 17px;
				position: relative;

				@media (max-width: 1439.98px) {
					padding-left: 16px;
				}

				&::before {
					content: "—";
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}

	// .rs-about__btn
	&__btn {
		margin: auto 0px 0px 0px;
	}
}
